.itf_popup-bg,
.itf_popup-container,
.itf_popup-wrap {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%
}

.itf_popup-bg {
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: .5;
    filter: alpha(opacity=80)
}

.itf_popup-wrap {
    z-index: 1043;
    position: fixed;
    outline: 0!important;
    -webkit-backface-visibility: hidden
}

.itf_popup-container {
    text-align: center;
    position: absolute;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.itf_popup-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.itf_popup-align-top .itf_popup-container:before {
    display: none
}

.itf_popup-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045
}

.itf_popup-ajax-holder .itf_popup-content,
.itf_popup-inline-holder .itf_popup-content {
    width: 100%;
    cursor: auto
}

.itf_popup-ajax-cur {
    cursor: progress
}

.itf_popup-zoom-out-cur,
.itf_popup-zoom-out-cur .itf_popup-image-holder .itf_popup-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.itf_popup-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}

.itf_popup-auto-cursor .itf_popup-content {
    cursor: auto
}

.itf_popup-arrow,
.itf_popup-close,
.itf_popup-counter,
.itf_popup-preloader {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.itf_popup-loading.itf_popup-figure {
    display: none
}

.itf_popup-hide {
    display: none!important
}

.itf_popup-preloader {
    color: #ccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -.8em;
    left: 8px;
    right: 8px;
    z-index: 1044
}

.itf_popup-preloader a {
    color: #ccc
}

.itf_popup-close-btn-in .itf_popup-close,
.itf_popup-preloader a:hover {
    color: #fff
}

.itf_popup-s-error .itf_popup-content,
.itf_popup-s-ready .itf_popup-preloader {
    display: none
}

button.itf_popup-arrow,
button.itf_popup-close {
    overflow: visible;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 5px 292px !important
}

.itf_popup-figure:after,
.itf_popup-iframe-scaler iframe {
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    display: block;
    position: absolute;
    left: 0
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.itf_popup-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #fff;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace
}

.itf_popup-close:focus,
.itf_popup-close:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.itf_popup-close:active {
    top: 1px
}

.gallery-pop-pup .itf_popup-close {
    color: #000
}

.itf_popup-iframe-holder .itf_popup-close,
.itf_popup-image-holder .itf_popup-close {
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
	
}

.itf_popup-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px
}

.itf_popup-arrow {
    position: absolute;
    opacity: .65;
    filter: alpha(opacity=65);
    margin: -55px 0 0;
    top: 50%;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent
}

.itf_popup-arrow:active {
    margin-top: -54px
}

.itf_popup-arrow:focus,
.itf_popup-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.itf_popup-arrow .itf_popup-a,
.itf_popup-arrow .itf_popup-b,
.itf_popup-arrow:after,
.itf_popup-arrow:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: inset transparent
}

.itf_popup-arrow .itf_popup-a,
.itf_popup-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px
}

.itf_popup-arrow .itf_popup-b,
.itf_popup-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: .7
}

.itf_popup-arrow-left {
    left: 0
}

.itf_popup-arrow-left .itf_popup-a,
.itf_popup-arrow-left:after {
    border-right: 17px solid #fff;
    margin-left: 31px
}

.itf_popup-arrow-left .itf_popup-b,
.itf_popup-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f
}

.itf_popup-arrow-right {
    right: 0
}

.itf_popup-arrow-right .itf_popup-a,
.itf_popup-arrow-right:after {
    border-left: 17px solid #fff;
    margin-left: 39px
}

.itf_popup-arrow-right .itf_popup-b,
.itf_popup-arrow-right:before {
    border-left: 27px solid #3f3f3f
}

.itf_popup-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}

.itf_popup-iframe-holder .itf_popup-content {
    line-height: 0;
    width: 100%;
    max-width: 900px
}

.itf_popup-iframe-holder .itf_popup-close {
    top: -40px
}

.itf_popup-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}

.itf_popup-iframe-scaler iframe {
    top: 0;
    width: 100%;
    height: 100%;
    background: #000
}

img.itf_popup-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0;
    margin: 0 auto
}

.itf_popup-figure {
    line-height: 0
}

.itf_popup-figure:after {
    content: '';
    top: 40px;
    bottom: 40px;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    background: #444
}

.itf_popup-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px
}

.itf_popup-figure figure {
    margin: 0
}

.itf_popup-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto
}

.itf_popup-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px
}

.itf_popup-image-holder .itf_popup-content {
    max-width: 100%
}

.itf_popup-gallery .itf_popup-image-holder .itf_popup-figure {
    cursor: pointer
}

@media screen and (max-width:800px) and (orientation:landscape),
screen and (max-height:300px) {
    .itf_popup-img-mobile .itf_popup-image-holder {
        padding-left: 0;
        padding-right: 0
    }
    .itf_popup-img-mobile img.itf_popup-img {
        padding: 0
    }
    .itf_popup-img-mobile .itf_popup-figure:after {
        top: 0;
        bottom: 0
    }
    .itf_popup-img-mobile .itf_popup-figure small {
        display: inline;
        margin-left: 5px
    }
    .itf_popup-img-mobile .itf_popup-bottom-bar {
        background: rgba(0, 0, 0, .6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .itf_popup-img-mobile .itf_popup-bottom-bar:empty {
        padding: 0
    }
    .itf_popup-img-mobile .itf_popup-counter {
        right: 5px;
        top: 3px
    }
    .itf_popup-img-mobile .itf_popup-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, .6);
        position: fixed;
        text-align: center;
        padding: 0
    }
}

@media all and (max-width:900px) {
    .itf_popup-arrow {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }
    .itf_popup-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0
    }
    .itf_popup-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%
    }
    .itf_popup-container {
        padding-left: 6px;
        padding-right: 6px
    }
}

.itf_popup-ie7 .itf_popup-img {
    padding: 0
}

.itf_popup-ie7 .itf_popup-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px
}

.itf_popup-ie7 .itf_popup-container {
    padding: 0
}

.itf_popup-ie7 .itf_popup-content {
    padding-top: 44px
}

.itf_popup-ie7 .itf_popup-close {
    top: 0;
    right: 0;
    padding-top: 0
}